img.catalog-image {
    height: 200px; !important;
}

img.ad_main {
    height: 400px;
}

img.articolo {
    display: block;
}


@media (max-width: 1199px) {
      .articolo {
          display: block;
          width: 220px;
      }
    }
