<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}First page{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <div class="container">
            <div class="row">
                {% for libro in ads %}
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top articolo" src="{{ libro.photo.url }}" alt="{{ libro.title }}">
                          <div class="card-body">
                            <h5 class="card-title">{{ libro.title }}</h5>
                            <p class="card-text">Class: {{ libro.quality_class }}<br>Price: {{ libro.price }}</p>
                            <a href="/ads/{{ libro.pk }}" class="btn btn-primary">Info</a>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}